<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">
    <title>Welcome to Data-Lab</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/">Azure Tables</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <select onchange="change(this.value, '<%= id %>')" style="background: transparent;color: white;width: 10%;" class="browser-default custom-select ml-auto">
        <option selected>No of rows</option>
        <% if(nrows == 20) {%>
        <option value="20" selected>20</option>
        <% }else{%>
        <option value="20">20</option>
        <% } %>
        <% if(nrows == 100) {%>
        <option value="100" selected>100</option>
        <% }else{%>
        <option value="100">100</option>
        <% } %>
        <% if(nrows == 500) {%>
        <option value="500" selected>500</option>
        <% }else{%>
        <option value="500">500</option>
        <% } %>
        <% if(nrows == 1000) {%>
        <option value="1000" selected>1000</option>
        <% }else{%>
        <option value="1000">1000</option>
        <% } %>
      </select>
      <a href="/export/<%= id %>" style="opacity: 0.7;border-radius: 10px;" type="button" class="btn btn-dark">Export to csv</a>
      <a href="/visualize/<%= id %>" style="opacity: 0.7;border-radius: 10px;" type="button" class="btn btn-dark">Visualize</a>
    </nav>
    <div class="mt-3 col-md-4 offset-md-4 text-center">
        <nav class="nav nav-pills flex-column flex-sm-row">
          <a class="flex-sm-fill text-sm-center active" href="/">Business</a>
          <a class="flex-sm-fill text-sm-center" href="/afteam">AF Team</a>
        </nav>
    </div>
    <div class="mt-3 card" style="overflow-x:scroll;">
        <div class="card-body">
          <h5 class="card-title">Entities</h5>
          <table class="table table-bordered" style="color: white;">
            <thead class="">
              <tr>
                <% for(var column in columns) { if(column != '.metadata') {%>
                <th scope="col"><%= column %></th>
                <% } } %>
              </tr>
            </thead>
            <tbody>
              <% for(var x in data) { %>
              <tr>
                <% for(var ind in data[x]) { if(ind != '.metadata') {%>
                <td><%= data[x][ind]._ %></td>
                <% } } %>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

</body>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>
<script type="text/javascript">
  function change(val,id) {
    window.location="/account/"+id+"?noofrows="+val;
  }
</script>
</html>